<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @bet.question %>
</p>

<p>
  <strong>Result:</strong>
  <%= @bet.result %>
</p>

<%= link_to 'Edit', edit_bet_path(@bet) %> |
<%= link_to 'Back', bets_path %>
